@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body{
  min-width:1024px;
  font-family: 'Inter', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}
#nav-links{
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
#nav-links a{
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}
#nav-links a:hover{
  color:hsl(5, 85%, 63%);
}
#menu{
  display: none;
}
main{
  padding: 0 70px;
  display: flex;
  gap: 2rem;
}
img{
  max-width: 100%;
  height: auto;
}
#web_3{
  display:flex;
}
#web_3 h1{
  font-size: 3.5rem;
  color:hsl(240, 100%, 5%);
  text-align: left;
  width:300px;
}
#web3_para{
  width: 600px;
  font-size: 15px;
  line-height: 1.6;
  color:hsl(236, 13%, 42%);
  padding-left: 250px;
}
#btn{
  background-color:hsl(5, 85%, 63%);
  padding: 10px 30px;
  border: none;
  outline: none;
  color: hsl(36, 100%, 99%);
  margin: 50px 0 0 250px;
  cursor: pointer;
  font-weight:700;
}
#btn:hover{
  background-color: hsl(240, 100%, 5%);
}
#info{
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding:0 25px;
  
}
#info_heading{
  color: hsl(35, 77%, 62%);
  padding-top: 30px;
  font-size: 2rem;

}
#info div{
  margin: 50px auto; 
  border-bottom: 1px solid hsla(230, 20%, 94%, 0.282);
  padding-bottom: 40px;
}
#info div:last-of-type{
  border-bottom: none;
  padding-bottom:0;
}
#info p{
  padding-top: 10px;
  color: hsl(236, 13%, 42%);
}
#info h3:hover{
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
#articles{
  display: flex;
  padding: 0 70px;
  margin: 50px 0;
}
#articles ul{
  display: flex;
  list-style-type: none;
  align-items: center;
}
#articles li{
  display: flex;
  align-items:flex-start;
}
#articles li div{
  padding-left: 10px;
}
#articles h4{
  font-size: 2.5rem;
  color:  hsl(233, 8%, 79%);
}
#articles li div p{
  font-size: 15px;
}
#articles h5{
  padding:10px 0;
  color: hsl(240, 100%, 5%);
  cursor: pointer;
}
#articles h5:hover{
  color: hsl(5, 85%, 63%);
}

/* MEDIA */
@media screen and (max-width:767px) {
  body{
  min-width:375px;
  font-family: 'Inter', sans-serif;
}
  #nav-links{
    position: fixed;
    z-index: 1;
    inset:0 0 0 120px;
    background-color: hsl(36, 100%, 99%);
    flex-direction: column;
    padding: 150px 0 0 30px;
    transform: translateX(100%);  
    transition: transform 350ms ease-out;
  }
  #menu{
    display:block;
    cursor: pointer;
    z-index: 2;
  }
  #nav-links[data-visible = 'true']{
    transform: translateX(0%);  
  }
  nav{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
}
  main{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#web_3{
  display:flex;
  flex-direction: column;
}
#web_3 h1{
  font-size: 2.5rem;
  width:80%;
}
#web3_para{
  width:100%;
  font-size: 16px;
  padding-left: 0;
}
#btn{
  margin: 50px 0 0 0;

}
#articles{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 50px 0;
}
#articles ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
}
