@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body{
  min-width:1024px;
  font-family: 'Inter', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}
#nav-links{
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
#nav-links a{
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}
#nav-links a:hover{
  color:hsl(5, 85%, 63%);
}
#menu{
  display: none;
}
main{
  padding: 0 70px;
  display: flex;
  gap: 2rem;
}
img{
  max-width: 100%;
  height: auto;
}
#web_3{
  display:flex;
}
#web_3 h1{
  font-size: 3.5rem;
  color:hsl(240, 100%, 5%);
  text-align: left;
  width:300px;
}
#web3_para{
  width: 600px;
  font-size: 15px;
  line-height: 1.6;
  color:hsl(236, 13%, 42%);
  padding-left: 250px;
}
#btn{
  background-color:hsl(5, 85%, 63%);
  padding: 10px 30px;
  border: none;
  outline: none;
  color: hsl(36, 100%, 99%);
  margin: 50px 0 0 250px;
  cursor: pointer;
  font-weight:700;
}
#btn:hover{
  background-color: hsl(240, 100%, 5%);
}
#info{
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding:0 25px;
  
}
#info_heading{
  color: hsl(35, 77%, 62%);
  padding-top: 30px;
  font-size: 2rem;

}
#info div{
  margin: 50px auto; 
  border-bottom: 1px solid hsla(230, 20%, 94%, 0.282);
  padding-bottom: 40px;
}
#info div:last-of-type{
  border-bottom: none;
  padding-bottom:0;
}
#info p{
  padding-top: 10px;
  color: hsl(236, 13%, 42%);
}
#info h3:hover{
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
#articles{
  border: 2px solid blue;
  display: flex;
  padding: 0 70px;
}
#articles ul{
  display: flex;
  list-style-type: none;
  align-items: center;
}
#articles li{
  display: flex;
  align-items:flex-start;
  border: 1px solid red;
}
#articles li div{
  /* padding:0 20px;   */
  padding:0 15px;
}
#articles h4{
  font-size: 3rem;
}
#articles li div p{
  font-size: 15px;
  border: 1px solid #000;
}
#articles img{
  height: auto;
  vertical-align: top;
}